.contact-us {

  &__info-1 {
    margin-bottom: 4px;
  }

  &__info-marker {
    font-weight: 700;
    margin-bottom: 8px;

    &:first-child {
        margin-bottom: 16px;
    }
  }
  
  &__field {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    &--last {
      margin-bottom: 32px;
    }
  }
}
